
<!DOCTYPE html>
<html>
<head>
    <title>Better Timed</title>
    <style rel="stylesheet" href="/public/css/style.css"></style>
</head>
<body>
    <div class="header">
        <div class="top-nav">
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="#">ABOUT US</a></li>
                <li><a href="#">WHAT WE DO</a></li>
                <li><a href="#">LOG IN</a></li>
            </ul>
            <button>Contact Us</button>
        </div>
        <div class="side-nav">
            <img src="logo" alt="logoAlt">
            <a href="/public/image/better-timed-high-resolution-logo-transparent.png">insert here</a>
        </div>
    </div>
</body>
</html>
    {{{body}}}
</body>
</html>