<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student-Project-Organizer</title>
    <link rel="stylesheet" href="css/jass.css">
</head>
<body>
    <div class="header">
        <div class="top-nav">
            <ul>
                <li><a href="#">HOME</a></li>
                 <li><a href="#">ABOUT US</a></li>
                <li><a href="#">WHAT WE DO</a></li>
                <li><a href="#">LOG IN</a></li>
            </ul>
            <button>Contact Us</button>
        </div>
        <div class="side-nav">
            <img src="images/logo.png" alt="logo">
            <a href="#">Insert Here</a>
        </div>
    </div>
</body>
</html>