<!-- Loop over each object in the projects array -->
{{#each posts as |post| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <a href="/post/{{post.id}}">
      <h3>{{post.title}}</h3>
      <h5>{{format_date post.date_created}}</h5>
    </a>
  </div>
</div>
{{/each}}

<button><a href="/newpost">New Post</a></button>

