
<div class="login-form">
    <form action="">
      <h1>Login</h1>
      
      <div class="form-group">
        <input type="text" id="username-login" placeholder="Username" required>
        <i class='bx bxs-user'></i>
      </div>
      <div class="form-group">
        <input type="password" id="password-login" placeholder="Password" required>
        <i class='bx bxs-lock-alt' ></i>
      </div>
      {{!-- <div class="form-group" --}}
       <button type="submit" class="btn">Login</button>
      <div class="register-link">
        <p>Dont have an account? <a href="/signup">Register</a></p>
      </div>

    </form>
</div>

<script src="/js/login.js"></script> 