<div class="signup-form"> <!-- Changed class here -->
    <form action="">
      <h1>Signup</h1>
      
      <div class="form-group">
        <input type="text" id="username-signup" placeholder="Username" required>
        <i class='bx bxs-user'></i>
      </div>
      <div class="form-group">
        <input type="password" id="password-signup" placeholder="Password" required>
        <i class='bx bxs-lock-alt' ></i>
      </div>
      <button type="submit" class="btn">Register</button>
      <div class="register-link">
        <p>Dont have an account? <a href="/signup">Register</a></p>
      </div>

    </form>
</div>


<script src="/js/signup.js"></script>