*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 100vh;
    background: #4352b3;
    padding-left: 11%;
    padding-right: 8%;
    position: relative;
}
.top-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 15px;
    border-bottom: 1px solid #BABABA;
}
.top-nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.top-nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}
.top-nav ul li a.button{
    background: #E91E63;
    color: #fff;
    border: 0;
    outline: 0;
    border-radius: 30px;
    padding: 10px 20px;
    cursor: pointer;
}

.side-nav{
position: fixed;
/*background: #E91E63;/*/
left: 0;
top: 0;
width: 100px;
height: 100vh;
display: flex;
justify-content: space-between;
align-items: center;
flex-direction: column;
padding: 50px 0;
background: linear-gradient(#00BCD4, #E91E63, #3F51B5, #00BCD4
);
background-size: 100% 500%;
background-position: 0 40%;
}
.side-nav:hover{
    animation: backcolor 20s linear infinite reverse;
}
@keyframes backcolor{
    0%{
        background-position: 0 0%;
    }
    100%{
        background-position: 0 400%;
    }
}

.logo-link {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.logo-link img {
    width: 100px; 
    height: auto;
}


.login-form{
  width: 500px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(9px);
  color: #fff;
  border-radius: 12px;
  padding: 30px 40px;
}
.login-form h1{
  font-size: 36px;
  text-align: center;
}
.login-form .form-group{
  position: relative;
  width: 100%;
  height: 50px;
  
  margin: 30px 0;
}
.form-group input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}
.form-group input::placeholder{
  color: #fff;
}
.form-group i{
  position: absolute;
  right: 20px;
  top: 30%;
  transform: translate(-50%);
  font-size: 20px;

}
.login-form .remember-forgot{
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.login-form .btn{
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}
.login-form .register-link{
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;

}
.register-link p a{
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
.register-link p a:hover{
  text-decoration: underline;
}



.col-md-6 {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  border-radius: 10px;
  color: #fff;
  backdrop-filter: blur(20px);
}


h3 {
  font-size: 28px;
  color: #ffffff;
  margin-bottom: 30px;
  text-align: center;
}


.form-group {
  margin-bottom: 20px;
}


.form-group label {
  font-weight: bold;
  color: #ffffff;
}


.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #293949;
  border-radius: 5px;
  margin-top: 5px;
  font-size: 16px;
  color: #495057;
}


.btn {
  padding: 10px 20px;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
}


.btn-primary {
  background-color: #007BFF;
  color: white;
}

.btn-primary:hover {
  background-color: #0069D9; 
  color: white;
}


.btn-danger {
  background-color: #dc3545;
  color: rgb(189, 19, 19);
  margin-left: 10px;
}

.btn-danger:hover {
  background-color: #c82333; 
  color: rgb(48, 46, 128);
}






.col-md-20 {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #4e9ecc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}


h3 {
  font-size: 28px;
  color: #ffffff;
  margin-bottom: 30px;
  text-align: center;
}


.form-group {
  margin-bottom: 20px;
}


.form-group label {
  font-weight: bold;
  color: #ffffff;
}


.btn {
  padding: 10px 20px;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
}


.btn-primary {
  background-color: #007BFF;
  color: white;
}

.btn-primary:hover {
  background-color: #0069D9; 
  color: white;
}


.btn-danger {
  background-color: #dc3545;
  color: white;
  margin-left: 10px;
}

.btn-danger:hover {
  background-color: #c82333; 
  color: white;
}


.text-center.post_id {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}


h4 {
  font-size: 24px;
  color: #403434;
  margin-bottom: 20px;
  text-align: center;
}


p {
  font-size: 16px;
  color: #576ed3;
  margin-bottom: 10px;
}


.form-group-comment {
  margin-bottom: 20px;
}


.form-group-comment label {
  font-weight: bold;
  color: #495057;
}


.form-inputt {
  width: 100%;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  margin-top: 5px;
  font-size: 16px;
  color: #495057;
}


.btn.btn-primary1 {
  padding: 10px 20px;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #007BFF;
  color: white;
}

.btn.btn-primary1:hover {
  background-color: #0069D9; 
  color: white;
}