<<<<<<< HEAD
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 100vh;
    background: #000942;
    padding-left: 11%;
    padding-right: 8%;
    position: relative;
}
.top-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 15px;
    border-bottom: 1px solid #BABABA;
}
.top-nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.top-nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}
.top-nav button{
    background: #E91E63;
    color: #fff;
    border: 0;
    outline: 0;
    border-radius: 30px;
    padding: 10px 20px;
    cursor: pointer;
}
.side-nav{
position: fixed;
/*background: #E91E63;/*/
left: 0;
top: 0;
width: 100px;
height: 100vh;
display: flex;
justify-content: space-between;
align-items: center;
flex-direction: column;
padding: 50px 0;
background: linear-gradient(#00BCD4, #E91E63, #3F51B5, #00BCD4
);
background-size: 100% 500%;
background-position: 0 40%;
}
.side-nav:hover{
    animation: backcolor 20s linear infinite reverse;
}
@keyframes backcolor{
    0%{
        background-position: 0 0%;
    }
    100%{
        background-position: 0 400%;
    }
}
header, .project:not(:last-child) {
    border-bottom: 1px solid #2a2a2a; /* Darker border for a sleek look */
  }
  
  .no-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #4a90e2; /* Brighter blue for a tech vibe */
    text-decoration: none;
    font-size: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Modern font */
  }
  
  .no-button:hover {
    color: #007aff; /* Slightly darker blue on hover for contrast */
    text-decoration: underline;
    transition: color 0.3s ease-in-out; /* Smooth transition for hover effect */
  }
  
  .dollar-amount {
    color: #10c469; /* Vibrant green to stand out */
    font-weight: bold;
    margin-left: -5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Consistent font */
  }
=======
>>>>>>> da680ef4b4a1246941edcd6e8f017af4ae44bed6
